@import "compass/reset";
@import "compass/css3";

html {
  box-sizing: border-box;
}
body {
  color: #333;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.25em;
  padding: 0 1em;
}

.nav {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  // flex-wrap: wrap;
  height: 3rem;
  width: 100%;
  background-color: #01939A;
  border-bottom: 1px solid #006064;

  .nav-menu {

      .menu-item {
        display: inline-block;
        margin-right: 15px;

        .menu-item--link {
          font-family: 'Roboto', sans-serif;
          padding: 5px 10px;
          // text-transform: uppercase;
          color: white;
          border: 1px solid white;
          background-color: #1D7074;
          // border-radius: 5px;
        }
        .menu-item--link:hover {
          background-color: #006064;
        }
      }
  }
}

.intro {
    text-align: center;
    background-image: url("../img/bg-intro.png");
    background-position: center center;
    background-size: cover;

    .intro-text {
        width: 50%;
        padding: 20px;
        margin: 0 auto;
        border: 2px solid white;
        border-radius: 5px;
        color: white;
        background-color: rgba(26, 59, 61, 0.6);

        .fa-angle-double-left {
          margin-right: 5px;
        }

        .fa-angle-double-right {
          // font-size: 0.7rem;
          margin-left: 5px;
        }

        p {
          font-family: 'Neutron', serif;
          margin-bottom: 20px;
          font-size: 1.5rem;
          line-height: 2rem;
        }

        p:last-child {
          margin-bottom: 0px;

        }
    }
}
// Make each section height 90% of browser's height
section, footer {
  height: 100vh;
  padding-top: 3.5rem;
}

.section--header {

  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 1.25em;

}

.avatar {
    @include box-shadow(0 0 0px 3px #fff, 0 0 0 4px #ccc, 0 4px 6px #333);
    @include border-radius(50px); // half the avatar size
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
}

.article-text {
  font-family: 'Neuton', serif;
  font-size: 1.3em;
  padding: 15px 10px;
  // text-align: center;
}

@media screen and (max-width: 320px) {
  .nav .nav-menu .menu-item {
    margin-right: 0px;
  }
  .menu-item--link {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 480px) {
  .nav .nav-menu .menu-item {
    margin-right: 0px;
  }

}
